---
sidebar_position: 2
---

# Verified apps
In horsy you can see verified apps.

You can distinguish verified apps from unverified ones by name, you will see `✅` next to app name.

## How we verify apps
We choose app and check if it has source code. If it has, we check if it is not infected.

Then, we install app on our virtual machine and check its functionality. If it works and usefull, we mark it as verified.

## What it means for users
If app is verified, it means that app was downloaded by creators of horsy and checked how it works.

This doesn't mean that app is safe, it may contain malicious code, because developer can update app without your knowledge.

## For developers - how to get your app verified
If you want to get your app verified, you need to add source code to your app.

We check apps in random order in our database, so how fast you can get verified app is not guaranteed, but if you are lucky and your app name and description are catchy, you will get verified app.
